@import url(~/assets/css/poppins.css);

.page-enter-active, .page-leave-active {
  transition: all .25s
}

.page-enter, .page-leave-to {
  -webkit-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
  opacity: 0
}

.page-enter-to .page-leave {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

html, body {
  width: 100%;
  height: 100%;
  background: #f4f8fb;
  font-family: Roboto, 'Microsoft JhengHei', sans-serif;
}

body {
  margin: 0;
}


/* settings */
.setting-block {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  margin-bottom: 0.85rem;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.setting-block .setting-block-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.setting-block .setting-block-icon {
  position: absolute;
  top: 0;
  right: 12px;
  color: rgba(0, 0, 0, .05);
}

.setting-block .setting-block-icon i {
  font-size: 5rem;
}

.setting-block .setting-block-subtext {
  display: block;
  position: absolute;
  word-wrap: break-word;
  max-width: 65%;
  left: 1.35rem;
  bottom: 1.65rem;
  font-size: 1rem;
}

/* Footer */

.etcs-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
}

.etcs-footer p {
  padding: 0;
  margin: .75rem 0;
  font-size: .75rem;
  font-family: Microsoft JhengHei, sans-serif;
}


.main {
  width: 100%;
  top: 50px;
  padding-bottom: 5rem;
}

.etcs-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  padding: 1.5rem 15px 15px;
  transition: all .3s;
}

.etcs-player-label,
.etcs-plugin-label {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0.85rem;
  font-weight: 400;
  font-size: 1rem;
}

.etcs-plugin-label {
  cursor: pointer;
  transition: all .3s;
}

.etcs-plugin-label:hover {
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .12), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .06);
}


.np-search {
  width: 100%;
  height: 50px;
  margin: 0.125em auto;
  text-align: center;

  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  box-sizing: border-box;
  border-radius: .5rem;
  transition: all .3s ease;
  /*background: rgba(255, 255, 255, .7);*/
  /*backdrop-filter: blur(20px);*/
}

.np-search:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .09), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .06);
}

.mdui-dialog.etcs-dialog {
  border-radius: 10px;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, .06), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, .03);
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px);
  padding: 1.5rem 15px 15px;
  transition: all .3s;
}

.etcs-divider-v {
  display: flex;
  width: 1px;
  margin: .4rem 1rem;
  border-right: #616161 1px solid;
}
